@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Diplomata+SC&family=Lobster&family=Playball&family=Rubik+Moonrocks&family=The+Nautigal&display=swap');
#h1{
    color: aqua;
    font-family:'Lobster', cursive; 
}
#lh1{
    color: navy;
    font-family:'Dancing Script', cursive ;
}